:root {
/*variaveis*/
--branco-principal:#fff;
--cinza-secundario:#C0c0c0;
--botao-azul:#167bf7 ;
--cor-de-fundo:#00030c;
--fonte-pricipal:'Inter';
--botao-azul-efeito: #3c92fa; 
}
body{
background-color: var(--cor-de-fundo);
color: var(--branco-principal);
font-family:var(--fonte-pricipal) ;
font-size: 16px;
font-weight:400 ;
}

*{
    margin: 0;
    padding: 0;
}
.principal{
background-image: url("image/Background.png");
background-repeat: no-repeat;
background-size:contain ;
text-align: center;
align-items: center;

 }
.container{
    height: 100vh;
  display: grid ;
  grid-template-columns: 50% 50%;
}
.container__botao{
  background-color: var(--botao-azul);
  border-radius:5px;
  padding: 1em;
  display: block;
  color: var(--branco-principal);
   text-decoration: none;
  margin-bottom: 1em;

  } 
.botao_secundario{
  background-color: transparent;
  border: 2px solid var(--cinza-secundario);
}
.container__aviso {
  font-size: 12px;
  color: var(--cinza-secundario);
}
.container__titulo{
  font-size: 28px;
  font-weight: 700;
}
.container__imagem{
margin: 1em 0 2em 0 ; 
}
.container__caixa {
  margin: 0 6em;
}
.secundario__imagem{
  width: 80%;
}
.secundario{
  align-items: center;
  margin: 0 10em;

}
.descricao__titulo{
  font-weight:700 ;
  font-size: 48px;
  color: var(--branco-principal);
 margin-bottom: 0.1em;
}
.descricao__texto {
  color: var(--cinza-secundario);
}
 .secundario__botao{
  display: inline-block;
  margin-top:10px;
 }
 .container__descricao{
  padding: 2em;
 }
 .dispositivos__lista{
  display: flex;
  list-style: none;
justify-content: center;
margin: 5em 0 ;
 }
 .dispositivos{
  text-align: center;
 }
 .dispositivos__titulo{
  font-size: 48px;
  color: var(--branco-principal);
 }
 .lista__item{
  font-size: 32px;
  color: var(--branco-principal);
}
.rodape{
text-align: center;
margin: 5em 3em;

}
.rodape_logo{

text-align: center;
}
.rodape__lista{
display: flex;
list-style-type: none;
gap:16px;
justify-content: center ;
font-size: 16px;
margin: 1em 0;
font-weight: 400;


}
.lista__link a {
  text-decoration: none;
  color: var(--branco-principal);
  font-size: 16px;
  margin-left: 1em;


}
.lista__link a:hover{
  color: var(--botao-azul);
}
.rodape__texto{
  font-size: 14px;
color: var(--cinza-secundario);
margin-bottom: 24px;

}
.container__botao:hover{
background-color: var(--botao-azul-efeito);
color: var(--cor-de-fundoee);
}
@media screen and (max-width: 768px){
  .principal {
    display: block;
    background-image: none;
  }
.container__imagem {
  width: 50vw ;
}
.container__caixa{
  margin :2em 2em;
}
.secundario{
 margin: 0;
text-align: center;
display: block;
}
.secundaria__imagem{
  width: 50vw;
}

.dispositivos__lista{
  display: block;
}
.rodape__lista{
  display: block ;
}
}
